.colour { color: #3bb3e0; }
a {	color:#3bb3e0; }
a:hover{ color:#95A5A6; }
a:focus {color:#3bb3e0; }
::selection { background: #3bb3e0; color: #fff; }
::-moz-selection { background: #3bb3e0; color: #fff; }

/**** TOOLTIP ****/
.tooltip-inner { background-color:#3bb3e0; }
.tooltip.top .tooltip-arrow {  border-top-color: #3bb3e0; }

/**** CIRCLE LINK ****/
.circle-link { background:#3bb3e0; }

/**** MENU ****/
.header { 
background: #fff; color: #555; 
box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.31);

}
.header.tiny { background: #fff; }

/**** STACK SLIDER BUTTON****/
.st-wrapper nav span:before { background: #3bb3e0; }
/**** STACK SLIDER LINES ****/
.st-stack {
	background-image: -webkit-linear-gradient(top, #fff 50%, #3bb3e0 50%);
	background-image: -moz-linear-gradient(top, #fff 50%, #3bb3e0 50%);
	background-image: -o-linear-gradient(top, #fff 50%, #3bb3e0 50%);
	background-image: -ms-linear-gradient(top, #fff 50%, #3bb3e0 50%);
	background-image: linear-gradient(to bottom, #fff 50%, #3bb3e0 50%);
}

/**** TEAM BOX COLOUR ****/
.grida figcaption { background: #3bb3e0; 

}


/**** WORK - HOVER BG - LOAD MORE HOVER - LIGHTBOX BAR ****/
.thumbnail-caption{ background: rgba(59, 179, 224, 0.9);}
.grid-loadMore:hover{ color:#3bb3e0!important; }
.autoGrid-nav{ background: #3bb3e0; }

/**** BAR - BIG STATS ****/
#bigstats { background: #3bb3e0; }

/**** BAR - CLIENTS ****/
#Section-Colour { background: #ededed; }

/**** PRICING TABLE CIRCLE COLOUR ****/
#pricing-table h3 span { background: #3bb3e0; }

/**** CONTACT SECTION CONTACT BUTTON HOVER COLOUR ****/
#ajax-contact-form input.btn { background:#3bb3e0!important; color:#fff!important;}
#ajax-contact-form input.btn:hover { background:#95A5A6!important; color:#fff!important; }

#status {background-image:url(../img/status-blue.gif);}




